In [19]:
import pandas as pd
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\lenovo\appdata\local\programs\python\python36\lib\site-packages (2.0.1)

In [21]:
df= pd.read_csv(r'C:/Users/LENOVO\Desktop/VS Code\ML Projects\Code_basics-ML-Tutorial\decision tree.csv')

In [22]:
df.head()

  company job degree  salary
0       g   s      b       0
1       g   s      m       0
2       g   b      b       1
3       g   b      m       1
4       g   c      b       0

In [41]:
inputs = df.drop('salary',axis='columns')

target= df['salary']

In [42]:
from sklearn.preprocessing import LabelEncoder

In [43]:

le_company= LabelEncoder()
le_job= LabelEncoder()
le_degree= LabelEncoder()

In [44]:

inputs['company_n']=le_company.fit_transform(inputs["company"])
inputs['jon_n']=le_job.fit_transform(inputs["job"])
inputs['degree_n']=le_degree.fit_transform(inputs["degree"])

In [45]:
inputs_n=inputs.drop(['company','job','degree'],axis='columns')

In [46]:
inputs_n

    company_n  jon_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [59]:
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary, dtype: int64

In [53]:
from sklearn.model_selection import train_test_split

In [55]:
X_train,X_test,y_train,y_test = train_test_split(inputs_n,target,train_size=0.8)

In [56]:
from sklearn import tree
model= tree.DecisionTreeClassifier()

In [57]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [58]:
model.score(X_test, y_test)

0.75

In [62]:
model.predict([[2,0,0]])

array([1], dtype=int64)